body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: rgb(168, 30, 30);
}
h1 {
    font-family: sans-serif;
    font-style: 55px;
    margin-top: 250px;
    text-align: center;
}